.bg-gray {
  background-color: hsl(0, 0%, 30%);
}

.flex {
  display: flex;
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.main-width {
  height: calc(100vh - var(--margin-html) * 3);
}

.overflow-auto {
  overflow: scroll;
  overflow-x: scroll;
  scroll-behavior: content;
}

.flex-col {
  flex-direction: column;
}

.flex > div {
  margin-top: 30px;
  margin-bottom: 10px;
}
